<section>
  <table class="table table is-striped table is-hoverable table is-fullwidth">
    <tr>
      <th>Logo</th>
      <th>Symbol</th>
      <th>Company</th>
      <th>Price</th>
      <th>24H Change</th>
    </tr>
    <% @stocks_lists.each do |model| %>
      <tr>
        <td>
          <img class="stock-logo" src=<%= @client.logo(model.symbol).url %>>
        </td>
        <td><%= model.symbol %></td>
        <td><%= model.company_name %></td>
        <td><%= number_to_currency(model.latest_price)  %></td>
        <td><%= number_to_percentage(model.change_percent) %></td>
      </tr>
    <% end %>
  </table>
</section>
