<section>
  <div class="notification is-light">
    <h2 class="is-size-4 mb-2">Search Stock:</h2>
    <form action = "/iex/stock" >
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" name="symbol" placeholder="Search for a stock...">
        </div>
        <div class="control">
          <input type="submit" value="Search" class="button is-primary"/>
        </div>
      </div>
    </form>
  </div>
  <table class="table table is-striped table is-hoverable table is-fullwidth">
    <tr>
      <th>Logo</th>
      <th>Symbol</th>
      <th>Company</th>
      <th>Price</th>
      <th>24H Change</th>
      <th></th>
    </tr>
    <%= render 'default' %>
    <% @stocks_lists.each do |model| %>
      <% logo = @client.logo(model.symbol).url %>
      <tr>
        <td><img class="stock-logo" src=<%= logo %>></td>
        <td><%= model.symbol %></td>
        <td><%= model.company_name %></td>
        <td><%= number_to_currency(model.latest_price)  %></td>
        <td><%= number_to_percentage(model.change_percent) %></td>
        <td><%= link_to 'Buy', new_stock_path(:stock => { symbol: model.symbol, latest: model.latest_price}), class: "button is-primary" %></td>
      </tr>
    <% end %>
  </table>
</section>
