<section id="all-users">
  <div>
    <div>
      <p><%= user_greeting(current_user) %></p>
      <p>All Users:</p>
    </div>

    <div>
      <button>Add User</button>
    </div>
  </div>

  <table class="table table is-striped table is-hoverable table is-fullwidth">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th></th>
    </tr>
    <% @users.where(:role => 0).each do |user| %>
      <tr>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.status.upcase_first %></td>
        <td><button>Edit</button></td>
      </tr>
    <% end %>
  </table>
</section>