<section id="all-users">
  <div>
    <div>
      <p><%= user_greeting(current_user) %></p>
      <p>All Users:</p>
    </div>

    <div>
      <%= link_to "Add User", new_path %>
    </div>
  </div>

  <table class="table table is-striped table is-hoverable table is-fullwidth">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th></th>
    </tr>
    <% @users.where(:role => 0).each do |user| %>
      <tr>
        <td><%=link_to user.full_name, show_path(user.id) %></td>
        <td><%= user.email %></td>
        <td><%= user.status.upcase_first %></td>
        <td><%=link_to "Edit", edit_path(user.id) %></td>
      </tr>
    <% end %>
  </table>
</section>