<div>
  <div>
    <h1>
      <%= @user.first_name %> <%= @user.last_name %> 
    </h1>
  </div>
  <p>
    Email: <%= @user.email %>
  </p>
  <p>
    Balance: <%= number_to_currency(@user.balance) %>
  </p>
  <br/>
  <%= link_to 'Edit', edit_admin_path(@user) %> 
  <%= link_to 'Back', pending_path %>

</div>