<section id="stocks">
  <table class="table table is-striped table is-hoverable table is-fullwidth">
    <tr>
      <th>Logo</th>
      <th>Symbol</th>
      <th>Company</th>
      <th>Amount</th>
      <th>Price</th>
      <th>24H Change</th>
      <th>Total</th>
      <th></th>
    </tr>
    <% @stocks.each do |stock| %>
      <% quote = @client.quote(stock.symbol) %>
      <% logo = @client.logo(stock.symbol).url %>
      <% est_price = calculate_stock_price(stock.amount, quote.latest_price) %>
      <tr>
        <td><img class="stock-logo" src=<%= logo %>></td>
        <td> <%= stock.symbol %></td>
        <td><%= quote.company_name %></td>
        <td><%= stock.amount.round(2) %></td>
        <td><%= number_to_currency(quote.latest_price) %></td>
        <td><%= number_to_percentage(quote.change_percent) %></td>
        <td><%= "≈ #{number_to_currency(est_price)}" %></td>
        <td><%= link_to 'Sell', new_product_path(:product => { symbol: stock.symbol, amount: stock.amount, latest: quote.latest_price}) %></td>
      </tr>
    <% end %>
  </table>
</section>
