<section id="products">
  <table class="table table is-striped table is-hoverable table is-fullwidth">
    <tr>
      <th>Logo</th>
      <th>Symbol</th>
      <th>Company</th>
      <th>Percentage</th>
      <th>Amount</th>
      <th>Latest Price</th>
      <th>Sell Price</th>
      <th>Total Price</th>
      <th></th>
    </tr>
    <% @products.each do |product| %>
      <% quote = @client.quote(product.symbol) %>
      <% logo = @client.logo(product.symbol).url %>
      <% sell_price = product_price(quote.latest_price, product.percentage) %>
      <tr>
        <td><img class="stock-logo" src=<%= logo %>></td>
        <td><%= product.symbol %></td>
        <td><%= quote.company_name %></td>
        <td><%= "+#{number_to_percentage(product.percentage, precision: 0)}" %></td>
        <td><%= product.amount %></td>
        <td> <%= number_to_currency(quote.latest_price) %></td>
        <td> <%= number_to_currency(sell_price) %></td>
        <td> <%= number_to_currency(sell_price*product.amount) %></td>
        <td>
          <button>Edit</button>
          <button>Withdraw</button>
        </td>
      </tr>
    <% end %>
  </table>
</section>
